
@{
    ViewData["Title"] = "Registrar";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<h1 class="text">Lista de prestamos</h1>
<BR>
<a href="/Prestamos/Index" class="btn btn-secondary mb-4" btn-sm>Agregar prestamo</a>
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Nombre</th>
            <th>Monto</th>
            <th>Plazo</th>
            <th>Tasa de Interés</th>
            <th>Cuotas</th>
            <th>Realizar Pago</th>
            <th>Editar</th>
            <th>Eliminar</th>
            <th>Actualizar</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var prestamo in Model)
        {
            @if (prestamo.Id > 0 && prestamo.Nombre != "0" && prestamo.Monto > 0 && prestamo.Plazo > 0)
            {
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@prestamo.Nombre</p>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@prestamo.Monto</p>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@prestamo.Plazo</p>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@prestamo.TasaInteres</p>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@prestamo.cuotaspendientes</p>
                            </div>
                        </div>
                    </td>
                   

                    <td>
                        <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark" 
                        onclick="cuota(@prestamo.Id)">Pagar 
                        </button>
                    </td>

                    <td>
                        <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark"
                                onclick="editarFila(@prestamo.Id)">
                            Editar
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark"
                                onclick="eliminarPrestamo(@prestamo.Id)">
                            <img src=https://cdn-icons-png.flaticon.com/512/3096/3096687.png style="height: 20px;">
                        </button>
                    </td>
                    <td>
                        <a href="/Prestamos/Registrar" @*class="btn btn-secondary" btn-sm*@>   <img src=https://cdn-icons-png.flaticon.com/512/25/25274.png style="height: 20px; width: 20px;"> </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    function eliminarPrestamo(id) {
        if (confirm("¿Estás seguro de eliminar este préstamo?")) {
            // Enviar solicitud al controlador para eliminar el préstamo
            $.post("/Prestamos/Eliminar", { id: id }, function (data) {
                if (data.success) {
                    // Recargar la página para actualizar la tabla
                    location.reload();
                } else {
                    alert("Error al eliminar el préstamo.");
                }
            });
        }
    }
</script>



<script>
    function editarFila(id) {
        // Redireccionar a la página de edición con el ID del préstamo seleccionado
        window.location.href = "/Prestamos/Editar?id=" + id;
    }
</script>


<script>
    function cuota(id) {
        // Redireccionar a la página de edición con el ID del préstamo seleccionado
        window.location.href = "/Prestamos/cuota?id=" + id;
    }
</script>



