@{
    ViewData["Title"] = "Perfil";
}

<h1>@ViewData["Title"]</h1>

<p><strong>Nombre:</strong> @ViewBag.Nombre</p>
<p><strong>Apellido:</strong> @ViewBag.Apellido</p>
<p><strong>Correo:</strong> @ViewBag.Correo</p>
<p><strong>Contraseña:</strong> @ViewBag.Contraseña</p>

<a href="/Home/CerrarSesion">Cerrar sesión</a>
